@import "global.scss";

#title-txt {
  padding: 50px;
  h1 {
    font-family: "Readex Pro", sans-serif;
    font-weight: bold;
    font-size: 50px;
  }
}

.career-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 560px;
  img {
    width: 550px;
  }
}

.career {
  img {
    padding: 20px;
  }
}
