@import "global.scss";

.contact-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background: $primary;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .head-content {
    h1 {
      font-size: 40px;
    }
  }
}
