@import "global.scss";

/* Overlay Box */
.text-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.774);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.hero-txt {
  align-items: center;
  justify-content: center;
  display: flex;
  .txt-1 {
    p {
      color: $light;
      font-size: 40px;
      letter-spacing: 2px;
    }
  }
  .txt-2 {
    h1 {
      color: $primary;
      font-size: 60px;
      text-shadow: 2px 2px rgb(255, 255, 255);
    }
  }
}

.HeroCarousel {
  position: relative;
}

/* About Section*/
#about-section {
  .about-content {
    text-align: center;
    padding: 20px;
    .row {
      .video {
        video {
          max-width: 100%;
          height: auto;
        }
      }
      .about-txt {
        h4 {
          font-size: 28px;
          text-align: center;
          padding: 0 30px;
        }
      }
      .abt-btn {
        a {
          padding: 20px;
          border: solid 1px $primary;
          background-color: $primary;
          color: $light;
          letter-spacing: 2px;
          border-radius: 50px;
          text-decoration: none;
          font-size: 25px;
          font-weight: 600;
          font-family: Arial, sans-serif;

          &:hover {
            background-color: $dark;
            color: $light;
            border: solid 2px;
          }
        }
      }
    }
  }
}

/* Promo Section */
#promo-section {
  background-color: $primary;
  padding: 50px;
  #promo-text {
    h1 {
      color: $light;
      font-size: 60px;
      padding: 50px 0;
    }
  }
}

/* Promo Button */
#promo-btn {
  padding: 70px;
  a {
    padding: 20px 40px;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;

    &:hover {
      background-color: transparent;
      color: white;
      border: solid 2px white;
    }
  }
}

/* Style the Image Used to Trigger the Modal */
#myImg,
#myImg2,
#myImg3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover,
#myImg2:hover,
#myImg3:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption,
#caption2,
#caption3 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

// Menu Section
#menu-section {
  background-color: black;
}

#menu-text {
  .col-12 {
    h1 {
      padding: 50px;
      text-align: center;
      color: white;
      font-size: 50px;
    }
  }
}

#menu-btn {
  a {
    padding: 20px;
    border: solid 1px $primary;
    background-color: $primary;
    color: white;
    font-family: "Arial", sans-serif;
    letter-spacing: 2px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;

    &:hover {
      background-color: transparent;
      color: white;
      border: solid 2px white;
    }
  }
}

// Branch Section
#branch-txt {
  .col-12 {
    h1 {
      font-size: 60px;
    }
  }
}

#branch-content {
  .branch-text {
    h4 {
      text-indent: 40px;
      text-align: justify;
      padding: 20px 50px;
      font-size: 27px;
      line-height: 1.4;
    }
    h1 {
      font-family: "Bungee Shade", cursive;
      font-size: 80px;
      text-align: center;
    }
  }
}

#branch-btn {
  .col-12 {
    a {
      background-color: transparent;
      color: black;
      border: solid 3px black;
      font-family: "Arial", sans-serif;
      letter-spacing: 2px;
      border-radius: 50px;
      text-decoration: none;
      font-size: 25px;
      font-weight: 600;
      padding: 20px;

      &:hover {
        background-color: black;
        color: white;
        font-family: "Arial", sans-serif;
        letter-spacing: 2px;
        border-radius: 50px;
        text-decoration: none;
        font-size: 25px;
        font-weight: 600;
        padding: 20px;
      }
    }
  }
}

// FAQ Section
#faq-section {
  background-color: $primary;
}

.faq-txt .row .col-12 h1 {
  font-size: 60px;
  padding-top: 40px;
}

#acc .row #faqs-acc {
  padding-bottom: 100px;
}

/* Custom styles for the accordion */
.custom-accordion {
  background-color: black;

  .accordion-button {
    color: white;
    background-color: black;
    font-size: 20px;

    &:focus {
      box-shadow: none;
    }

    &:not(.collapsed) {
      color: white;
      background-color: #333; /* Change this color for the active (expanded) item */
    }
  }
  .accordion-body {
    background-color: #222; /* Change this color for the content background */
    color: white;
  }
}

@media screen and (max-width: 700px) {
  /* Promo Button */
  #promo-btn {
    padding: 70px;
    a {
      padding: 20px 30px;
      background-color: black;
      color: white;
      font-family: Arial, sans-serif;
      letter-spacing: 1px;
      border-radius: 50px;
      text-decoration: none;
      font-size: 15px;
      font-weight: 600;

      &:hover {
        background-color: transparent;
        color: white;
        border: solid 2px white;
      }
    }
  }

  #menu-btn {
    a {
      padding: 20px 30px;
      border: solid 1px $primary;
      background-color: $primary;
      color: white;
      font-family: "Arial", sans-serif;
      letter-spacing: 1px;
      border-radius: 50px;
      text-decoration: none;
      font-size: 13px;
      font-weight: 600;

      &:hover {
        background-color: transparent;
        color: white;
        border: solid 2px white;
      }
    }
  }
  #branch-txt .col-12 {
    h1 {
      font-size: 45px;
    }
  }

  #branch-content {
    .branch-text {
      h4 {
        text-indent: 40px;
        text-align: justify;
        font-size: 20px;
        line-height: 1.4;
      }
      h1 {
        font-family: "Bungee Shade", cursive;
        font-size: 40px;
        text-align: center;
        padding-top: 20px;
      }
    }
  }

  /* Overlay Box */
  .text-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    justify-content: center;
    overflow: hidden;
  }

  .hero-txt {
    align-items: center;
    justify-content: center;
    display: flex;
    .txt-1 {
      p {
        color: $light;
        font-size: 20px;
        letter-spacing: 2px;
      }
    }
    .txt-2 {
      h1 {
        color: $primary;
        font-size: 30px;
        text-shadow: 2px 2px rgb(255, 255, 255);
      }
    }
  }
}
