* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* Navigation Bar */
.navbar .navbar-nav .nav-link {
  font-size: 1.1em;
  font-weight: 500;
  color: #fff;
}
.navbar .navbar-nav .nav-link:hover {
  color: #c01313;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #c01313;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}
@media only screen and (max-width: 700px) {
  .navbar .navbar-brand img {
    width: 150px;
  }
}
/* Footer Css */
#rb-footer {
  background-color: #000;
  padding: 30px;
}

#quick-links .p-2 a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  font-size: 20px;
}
#quick-links .p-2 a:hover {
  font-weight: 600;
  color: #c01313;
}

#footer-cont .flex-container {
  display: flex;
  flex-direction: column;
}

.social {
  padding-left: 600px;
  padding-top: 100px;
  text-align: right;
}
.social .fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.social .fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #f40083;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.copyright p {
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: right;
}

/* Overlay Box */
.text-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.774);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.hero-txt {
  align-items: center;
  justify-content: center;
  display: flex;
}
.hero-txt .txt-1 p {
  color: #fff;
  font-size: 40px;
  letter-spacing: 2px;
}
.hero-txt .txt-2 h1 {
  color: #c01313;
  font-size: 60px;
  text-shadow: 2px 2px rgb(255, 255, 255);
}

.HeroCarousel {
  position: relative;
}

/* About Section*/
#about-section .about-content {
  text-align: center;
  padding: 20px;
}
#about-section .about-content .row .video video {
  max-width: 100%;
  height: auto;
}
#about-section .about-content .row .about-txt h4 {
  font-size: 28px;
  text-align: center;
  padding: 0 30px;
}
#about-section .about-content .row .abt-btn a {
  padding: 20px;
  border: solid 1px #c01313;
  background-color: #c01313;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  font-family: Arial, sans-serif;
}
#about-section .about-content .row .abt-btn a:hover {
  background-color: #000;
  color: #fff;
  border: solid 2px;
}

/* Promo Section */
#promo-section {
  background-color: #c01313;
  padding: 50px;
}
#promo-section #promo-text h1 {
  color: #fff;
  font-size: 60px;
  padding: 50px 0;
}

/* Promo Button */
#promo-btn {
  padding: 70px;
}
#promo-btn a {
  padding: 20px 40px;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
#promo-btn a:hover {
  background-color: transparent;
  color: white;
  border: solid 2px white;
}

/* Style the Image Used to Trigger the Modal */
#myImg,
#myImg2,
#myImg3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover,
#myImg2:hover,
#myImg3:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption,
#caption2,
#caption3 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
#menu-section {
  background-color: black;
}

#menu-text .col-12 h1 {
  padding: 50px;
  text-align: center;
  color: white;
  font-size: 50px;
}

#menu-btn a {
  padding: 20px;
  border: solid 1px #c01313;
  background-color: #c01313;
  color: white;
  font-family: "Arial", sans-serif;
  letter-spacing: 2px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
}
#menu-btn a:hover {
  background-color: transparent;
  color: white;
  border: solid 2px white;
}

#branch-txt .col-12 h1 {
  font-size: 60px;
}

#branch-content .branch-text h4 {
  text-indent: 40px;
  text-align: justify;
  padding: 20px 50px;
  font-size: 27px;
  line-height: 1.4;
}
#branch-content .branch-text h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 80px;
  text-align: center;
}

#branch-btn .col-12 a {
  background-color: transparent;
  color: black;
  border: solid 3px black;
  font-family: "Arial", sans-serif;
  letter-spacing: 2px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  padding: 20px;
}
#branch-btn .col-12 a:hover {
  background-color: black;
  color: white;
  font-family: "Arial", sans-serif;
  letter-spacing: 2px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  padding: 20px;
}

#faq-section {
  background-color: #c01313;
}

.faq-txt .row .col-12 h1 {
  font-size: 60px;
  padding-top: 40px;
}

#acc .row #faqs-acc {
  padding-bottom: 100px;
}

/* Custom styles for the accordion */
.custom-accordion {
  background-color: black;
}
.custom-accordion .accordion-button {
  color: white;
  background-color: black;
  font-size: 20px;
}
.custom-accordion .accordion-button:focus {
  box-shadow: none;
}
.custom-accordion .accordion-button:not(.collapsed) {
  color: white;
  background-color: #333; /* Change this color for the active (expanded) item */
}
.custom-accordion .accordion-body {
  background-color: #222; /* Change this color for the content background */
  color: white;
}

@media screen and (max-width: 700px) {
  /* Promo Button */
  #promo-btn {
    padding: 70px;
  }
  #promo-btn a {
    padding: 20px 30px;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }
  #promo-btn a:hover {
    background-color: transparent;
    color: white;
    border: solid 2px white;
  }
  #menu-btn a {
    padding: 20px 30px;
    border: solid 1px #c01313;
    background-color: #c01313;
    color: white;
    font-family: "Arial", sans-serif;
    letter-spacing: 1px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
  }
  #menu-btn a:hover {
    background-color: transparent;
    color: white;
    border: solid 2px white;
  }
  #branch-txt .col-12 h1 {
    font-size: 45px;
  }
  #branch-content .branch-text h4 {
    text-indent: 40px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.4;
  }
  #branch-content .branch-text h1 {
    font-family: "Bungee Shade", cursive;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
  }
  /* Overlay Box */
  .text-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    justify-content: center;
    overflow: hidden;
  }
  .hero-txt {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .hero-txt .txt-1 p {
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .hero-txt .txt-2 h1 {
    color: #c01313;
    font-size: 30px;
    text-shadow: 2px 2px rgb(255, 255, 255);
  }
}/*# sourceMappingURL=home.css.map */